.service-card {
    overflow: hidden;
    max-width: auto;
    border-radius: 10px;

    .service-image-container {
        overflow: hidden;

        .service-img-thumbnail {
            width: 100%;
            height: auto;
            display: block;
            object-fit: contain;
            overflow: hidden;
        }
    }

    .service-card-content {
        padding: 15px;
        border-radius: 0 0 10px 10px;
        background: linear-gradient(160deg, rgba(0, 0, 0, 0.24) 0%, rgba(11, 11, 11, 0.71) 100%);

        span {
            display: block;
            color: white;
            font-size: 16px;
            font-weight: 500;
        }
    }
}
