@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400;9..40,500;9..40,600;9..40,700&family=Montserrat:wght@100;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/*COLORS --------------*/
/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
html, body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #001021;
  font-size: 1rem;
  color: #1481ba;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

header {
  height: 110px;
  width: 100%;
  z-index: 2;
}
@media (min-width: 992px) {
  header {
    padding: 30px 0;
  }
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header .container .logo {
  grid-area: logo;
  width: 305px;
}
header .container .header-btn {
  background-color: transparent;
}
@media (min-width: 992px) {
  header menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
header menu .menu-links {
  color: #1481ba;
  padding-top: 30px;
}
@media (min-width: 992px) {
  header menu .menu-links {
    padding-top: 0;
    display: block !important;
  }
}
header menu .menu-links .link {
  color: #1481ba;
  display: block;
  margin: 10px 20px;
  padding: 10px;
}
@media (min-width: 992px) {
  header menu .menu-links .link {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
  }
}
header menu .menu-links .link:hover {
  color: #11b5e4;
}
header menu .menu-icons {
  position: fixed;
  bottom: 0;
  right: 0;
  left: -55px;
  text-align: center;
  padding: 15px;
  background-color: #001021;
  box-shadow: 1px -1px 26px 21px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 0px -1px 27px 11px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 1px -1px 26px 21px rgba(0, 0, 0, 0.58);
}
@media (min-width: 992px) {
  header menu .menu-icons {
    background-color: transparent;
    position: static;
    padding: 0;
    box-shadow: 1px -1px 26px 21px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 1px -1px 26px 21px rgba(0, 0, 0, 0);
    -moz-box-shadow: 1px -1px 26px 21px rgba(0, 0, 0, 0);
  }
}
header menu .menu-icons .link {
  color: #1481ba;
  font-weight: 500;
  margin-left: 2rem;
}
header menu .menu-icons .link:hover {
  color: #1481ba;
}
header .toggle {
  grid-area: btn;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 26px;
  color: #11b5e4;
}
@media (min-width: 992px) {
  header .toggle {
    display: none;
  }
}

.footer {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 20px 0px;
  width: 100%;
  margin-bottom: 5rem;
  /*    @include lg {
      position: fixed;
      }*/
}
.footer .inner_footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: auto;
}
@media (min-width: 992px) {
  .footer .inner_footer {
    flex-direction: row;
    gap: 5rem;
  }
}
.footer .inner_footer .footer_third {
  width: auto;
  margin-right: 0px;
  float: left;
  height: 100%;
}
.footer .inner_footer .footer_third img {
  width: 200px;
}
.footer .inner_footer .footer_third:last-child {
  margin-left: 0px;
}
.footer .inner_footer .footer_third a {
  color: #aaa;
  font-size: 14px;
  display: block;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
}
.footer .inner_footer .footer_third .clickable:hover {
  text-decoration: underline;
}

.landing-container {
  max-width: 700px;
}
.landing-container h2 {
  color: #1481ba;
}

.service-card {
  overflow: hidden;
  max-width: 300px;
  border-radius: 10px;
  border: 1px solid #034748;
}
.service-card .service-image-container {
  overflow: hidden;
}
.service-card .service-image-container .service-img-thumbnail {
  width: 100%;
  height: 180px;
  display: block;
  overflow: hidden;
  object-fit: cover;
}
.service-card .service-card-content {
  padding: 15px;
  border-radius: 0 0 10px 10px;
  background-color: #1481ba;
}
.service-card .service-card-content span {
  display: block;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
