@tailwind base;
@tailwind components;
@tailwind utilities;
/*COLORS --------------*/
/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
html, body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #001021;
  font-size: 1rem;
  color: #1481ba;
}

header {
  height: 110px;
  width: 100%;
  z-index: 2;
}
@media (min-width: 992px) {
  header {
    padding: 30px 0;
  }
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header .container .logo {
  grid-area: logo;
  width: 350px;
}
header menu {
  grid-area: menu;
  font-family: #001021;
  background-color: transparent;
  margin-top: 240px;
}
@media (min-width: 992px) {
  header menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
  }
}
header menu .menu-links {
  color: #1481ba;
  padding-top: 30px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header menu .menu-links {
    padding-top: 0;
    display: block !important;
  }
}
header menu .menu-links .link {
  color: #1481ba;
  display: block;
  margin: 10px 20px;
  padding: 10px;
}
@media (min-width: 992px) {
  header menu .menu-links .link {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
  }
}
header menu .menu-links .link:hover {
  color: #11b5e4;
}
header menu .menu-icons {
  position: fixed;
  bottom: 0;
  right: 0;
  left: -55px;
  text-align: center;
  padding: 20px;
  background-color: transparent;
  box-shadow: 1px -1px 26px 21px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 0px -1px 27px 11px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 1px -1px 26px 21px rgba(0, 0, 0, 0.58);
}
@media (min-width: 992px) {
  header menu .menu-icons {
    background-color: transparent;
    position: static;
    padding: 0;
    box-shadow: 1px -1px 26px 21px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 1px -1px 26px 21px rgba(0, 0, 0, 0);
    -moz-box-shadow: 1px -1px 26px 21px rgba(0, 0, 0, 0);
  }
}
header menu .menu-icons .link {
  color: #1481ba;
  margin-left: 2rem;
}
header menu .menu-icons .link:hover {
  color: #1481ba;
}
header .toggle {
  grid-area: btn;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}
@media (min-width: 992px) {
  header .toggle {
    display: none;
  }
}
header .toggle .btn-white {
  padding: 5px 15px;
  font-size: 1.4rem;
}

.footer {
  top: 100%;
  clear: both;
  display: block;
  background-color: transparent;
  width: 100vw;
  overflow: hidden;
  padding: 20px 0px;
  box-sizing: border-box;
  border-top: 1px solid rgb(44, 44, 44);
}
.footer .inner_footer {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 1100px;
  padding: 30px;
}
.footer .inner_footer .footer_third img {
  width: 259px;
  height: auto;
}
.footer .inner_footer .footer_third {
  width: 300px;
  margin-right: 0px;
  float: left;
  height: 100%;
}
.footer .inner_footer .footer_third:last-child {
  margin-left: 0px;
}
.footer .inner_footer .footer_third a {
  color: #aaa;
  font-size: 14px;
  display: block;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
}
.footer .inner_footer .footer_third .clickable:hover {
  text-decoration: underline;
}
