services:
  muddra:
    build:
      context: .
      dockerfile: Dockerfile
    hostname: muddra
    container_name: muddra
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://0.0.0.0:8080
      - Urls=http://0.0.0.0:8080
    restart: unless-stopped
