<span class="errormsg text-right pl-2.5 text-xs text-red-500 block mb-1"></span>
<span class="icon-error absolute text-red-500 text-lg hidden pointer-events-none z-10" style="right: 12px; top: 50%; transform: translateY(-50%); left: auto;">
    <i class="fa-solid fa-circle-exclamation"></i>
</span>
<span class="icon-success absolute text-green-500 text-lg hidden pointer-events-none z-10" style="right: 12px; top: 50%; transform: translateY(-50%); left: auto;">
    <i class="fa-solid fa-circle-check"></i>
</span>