<span class="icon-error absolute text-red-500 text-lg hidden pointer-events-none z-10 right-4 top-1/2 -translate-y-1/2">
    <i class="fa-solid fa-circle-exclamation"></i>
</span>
<span class="icon-success absolute text-green-500 text-lg hidden pointer-events-none z-10 right-4 top-1/2 -translate-y-1/2">
    <i class="fa-solid fa-circle-check"></i>
</span>