<span class="errormsg"></span>
<span class="icon-error text-danger validate-icon d-none">
    <i class="fa-solid fa-circle-exclamation"></i>
</span>
<span class="icon-success text-success validate-icon d-none">
    <i class="fa-solid fa-circle-check"></i>
</span>