<footer class="w-full pt-2 pb-2 mt-8 md:pt-8 md:pb-8 md:mt-24">
    <div class="max-w-5xl mx-auto px-2 md:px-6">
        <div class="flex flex-row justify-center items-center gap-4 md:gap-8 flex-wrap">
            <div>
                <img src="@Url.Content("~/Assets/Imgs/App/logo.png")" alt="Hjälmarens Sjötjänst" loading="lazy" class="w-[200px] max-w-[200px] h-auto" />
            </div>
            
            <a href="tel:+46709264493" class="text-[#ebecf7] no-underline! text-xs font-medium">
                0709 26 44 93
            </a>
            
            <a href="mailto:contact@muddra.com" class="text-[#ebecf7] no-underline! text-xs font-medium">
                contact@muddra.com
            </a>
            
            <span class="text-[#ebecf7] text-xs font-medium">556855-0007</span>
        </div>
    </div>
</footer>
