<footer class="footer">
    <div class="inner_footer">
        <div class="footer_third">
            <div class="img_container"><img src="/Assets/Imgs/App/logo_footer.png" /></div>
        </div>
        <div class="footer_third">
            <a>0709 26 44 93</a>
            <a class="clickable" href="mailto:contact@muddra.com">Support</a>
        </div>
        <div class="footer_third">
            <a class="clickable" href="@Url.Action("tos", "home")">Vilkor</a>
            <a>556855-0007</a>
        </div>
    </div>
</footer>