<header>
    <div class="container">
        <img class="logo" src="~/Assets/Imgs/App/logo.png" alt="hjälmarens sjöstjänst">
        <menu>
            <nav id="menu" class="menu-links d-none d-lg-block">
                <a class="link" asp-controller="home" asp-action="index">Hem</a>
                <a class="link" asp-controller="home" asp-action="contact">Kontakt</a>
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <a class="link" asp-controller="admin" asp-action="users">Dashboard</a>
                }
            </nav>
            <nav class="menu-icons">
                <a class="link" asp-controller="product" asp-action="search"><i class="fa-solid fa-search"></i></a>
                @if (signInManager.IsSignedIn(User))
                {
                    <a class="link" asp-controller="account" asp-action="Index">@User.FindFirst("DisplayName")?.Value</a>
                    <a class="link" asp-controller="account" asp-action="signout">Logout</a>
                }
                else
                {
                    <a class="link" asp-controller="account" asp-action="signin">Logga In</a>
                    <a class="link" asp-controller="account" asp-action="signup">Registrea Dig</a>
                }
            </nav>
        </menu>
        <button class="toggle" data-option="toggle"><i id="icon" class="fa-solid fa-bars" data-target="#menu"></i></button>
    </div>
</header>