<header>
    <div class="container">
        <img class="logo" src="~/Assets/Imgs/App/logo.png" alt="hjälmarens sjöstjänst">
        <menu>
            <nav id="menu" class="menu-links d-none d-lg-block">
                <a class="link" asp-controller="home" asp-action="index">Hem</a>
                <a class="link" asp-controller="home" asp-action="contact">Kontakt</a>
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                        <a class="link" asp-controller="admin" asp-action="users">Dashboard</a>
                }
                @if (signInManager.IsSignedIn(User))
                {
                    <a class="link" asp-controller="account" asp-action="Index">@User.Identity?.Name</a>
                    <a class="link" asp-controller="account" asp-action="signout">Logga ut</a>
                }
            </nav>
        </menu>
        <button class="toggle" name="menu" data-option="toggle"><i id="icon" class="fa-solid fa-bars" data-target="#menu"></i></button>
    </div>
</header>