@model LandingViewModel
@if (Model != null)
{
    <div>
        <div class="text-container">
            @if (Model.Title != null)
            {
                <h1>@Model.Title</h1>
            }
            @if (Model.Messgae != null)
            {
                <h2>@Model.Messgae</h2>
            }
        </div>
        <div class="img-container">
            @if (Model.ImgUrl != null)
            {
                <img src="@Model.ImgUrl" alt="@Model.Title" />
            }
        </div>
    </div>
}
