@model LandingViewModel
@if (Model != null)
{
    <section class="container">
        <div class="d-flex flex-row mt-5">
            <div class="landing-container">
                @if (Model.Title != null)
                {
                    <h1 class="text-white text-center fw-medium fs-2">@Model.Title</h1>
                }

                @if (Model.Messgae != null)
                {
                    <h2 class="fw-medium text-center fs-6 mt-3">@Model.Messgae</h2>
                }
                <div class="d-flex justify-content-center flex-column align-items-center flex-lg-row ">
                    <a class="btn-theme m-2" href="#services">Se alla Tjänster</a>
                    <a class="btn-theme m-2" asp-controller="home" asp-action="contact">Kontakta oss<i class="fa-regular fa-paper-plane ms-2"></i></a>
                </div>
            </div>
            <div class="img-container">
                @if (Model.ImgUrl != null)
                {
                    <img src="@Model.ImgUrl" alt="@Model.Title" />
                }
            </div>
        </div>
    </section>
}
