@model ServicesViewModel
<div class="container">
    <p>@Model.Title</p>
    @if(Model.ServiceItems != null)
    {
        @foreach (var item in Model.ServiceItems)
        {
            <partial name="../Shared/Sections/_ServiceTile" model="item" />
        }
    }
</div>