@model ServicesViewModel
<div id="services" class="container">
    @if (Model.ServiceItems != null)
    {
        <h2 class="fs-4 mt-5 fw-semibold">@Model.Title</h2>
        <div class="row gy-5">
            @foreach (var item in Model.ServiceItems)
            {
                <partial name="../Shared/Sections/_ServiceTile" model="item" />
            }
        </div>
    }
</div>