<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Diverse hantverkstjänster på Hjälmaren" />
    <link rel="icon" type="image/png" href="~/Assets/Imgs/App/x_icon.ico">
    <title>@ViewData["Title"] - Hjälmarens Sjötjänst AB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b8192ed03b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

</head>
    <body>
        <partial name="../Shared/Sections/_Header"/> 
         @RenderBody()
         <partial name="../Shared/Sections/_Footer" /> 


        <script src="~/js/FormValidation.js"></script>
        <script src="~/js/Menu.js"></script>
    </body>
</html>