<!DOCTYPE html>
<html lang="sv-se" class="bg-[#171b25]">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Diverse hantverkstjänster på Hjälmaren" />
    <link rel="icon" type="image/png" href="~/Assets/Imgs/App/x_icon.ico">
    <title>@ViewData["Title"] - Hjälmarens Sjötjänst AB</title>
    <script src="https://kit.fontawesome.com/b8192ed03b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/tailwind.output.css" asp-append-version="true" />
    <script defer src="~/js/formValidation.js" asp-append-version="true"></script>

</head>
    <body class="font-sans bg-[#171b25] min-h-screen">
         <partial name="../Shared/Sections/_Header" />
         @RenderBody()
         <partial name="../Shared/Sections/_Footer" /> 
    </body>
</html>