@model ContactViewModel

@{
    string emailRegEx = @"[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$";
}
<div class="container">
    <div class="d-flex justify-content-center mt-5">

        @if (TempData.ContainsKey("SuccessMessage"))
        {
            <div class="d-flex justify-content-center align-items-center mb-5">
                <div class="contact-msg">
                    <h2 class="fs-1 fw-light text-center mb-5">@TempData["SuccessMessage"]</h2>
                    <p class="text-center text-white">
                        Vi har mottagit ditt medelande och kommer att besvara det så fort vi kan.
                    </p>
                    <p class="text-center text-white">
                        Med vänliga hälsningar Hjälmarens Sjötjänst AB
                    </p>
                </div>
            </div>
        }

        @if (!TempData.ContainsKey("SuccessMessage"))
        {
            <form class="validate-form" asp-action="Contact" method="POST" novalidate>
                <h2 class="title mt-5 mb-2 fs-2 text-center fw-light">Skicka oss ett medelande</h2>
                @if (!Html.ViewData.ModelState.IsValid)
                {
                    <div asp-validation-summary="ModelOnly" class="error my-3 visually-hidden"></div>
                }

                <div class="form-group">
                    <label class="fs-6" asp-for="Email"></label>
                    <span asp-validation-for="Email"></span>
                    <input required pattern="@emailRegEx" asp-for="Email" type="email">
                    <partial name="../Shared/Components/_FormValidationIndicators" />
                </div>

                <div class="form-group">
                    <label class="fs-6" asp-for="Name"></label>
                    <span asp-validation-for="Name"></span>
                    <input required asp-for="Name" type="text">
                    <partial name="../Shared/Components/_FormValidationIndicators" />
                </div>

                <div class="form-group">
                    <label class="fs-6" asp-for="Message"></label>
                    <span asp-validation-for="Message"></span>
                    <textarea rows="3" required minlength="20" asp-for="Message" type="text"></textarea>
                    <partial name="../Shared/Components/_FormValidationIndicators" />
                </div>

                <div class="form-group">
                    <label class="fs-6" asp-for="Area"></label>
                    <span class="text-end inline" asp-validation-for="Area"></span>
                    <input required asp-for="Area" type="text">
                    <partial name="../Shared/Components/_FormValidationIndicators" />
                </div>
                <button type="submit" class="btn-theme w-100">Skicka<i class="ms-2 fa-solid fa-paper-plane"></i></button>
            </form>
        }

    </div>
</div>