@model HomeViewModel

<div class="mx-auto px-4">
    <partial name="../Shared/Sections/_Landing" model="Model.Landing" />
    <partial name="../Shared/Sections/_ServicesGrid" model="Model.ServicesGrid" />
</div>

@if (TempData.ContainsKey("ErrorMessage"))
{
    <p class="text-red-500 text-sm font-bold">@TempData["ErrorMessage"]</p>
}
@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <partial name="../Shared/Components/_CreateService" model="Model.CreateService"/>
}

