@model HomeViewModel

<div class="mx-auto px-2 md:px-4">
    <partial name="../Shared/Sections/_Landing" model="Model.Landing" />
    <partial name="../Shared/Sections/_ServicesGrid" model="Model.ServicesGrid" />
</div>

@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <partial name="../Shared/Components/_CreateService" model="Model.CreateService"/>
}

<partial name="../Shared/Sections/_BeforeAfter" />

<partial name="../Shared/Sections/_Contact" model="Model.Contact" />
