    <div class="container mx-auto px-2 md:px-4 py-2 md:py-8">
        <div class="max-w-3xl mx-auto text-[#ebecf7]">
            <h1>Integritetspolicy</h1>
            <p>
                Hjälmarens Sjötjänst AB respekterar till fullo alla önskemål om att hålla personlig användarinformation konfidentiell. Vi är medvetna om behovet av att på ett adekvat sätt skydda och hantera all personlig information vi får
                och process. Om du inte godkänner denna integritetspolicy bör du inte använda den här tjänsten.
            </p>
            <p>
                <strong>Personuppgifter</strong><br>Personuppgifter avser information som kan användas för att identifiera en levande individ. Detta inkluderar men är inte begränsat till en persons för- och efternamn, ålder, kön,
                hemadress eller annan fysisk adress, e-postadress eller annan kontaktinformation med anknytning till personens hem eller arbetsplats.
            </p>
            <p>
                <strong>Vilka personuppgifter samlar vi in ​​och behandlar?</strong><br>Hjälmarens Sjötjänst AB samlar in och behandlar information om dig när du lämnar kontouppgifter när du skapar eller gör ändringar i din användare
                konto för att använda tjänsten. Hjälmarens Sjötjänst AB samlar endast in de personuppgifter som krävs för att använda tjänsten.
            </p>
            <p>
                <strong>Vem får tillgång till personuppgifterna?</strong><br>Personliga uppgifter som skickas via Muddra.com kommer endast att vara tillgängliga för organisationen internt. Dessutom delar Hjälmarens Sjötjänst AB endast personuppgifter
                med ett missbruksregister och liknande enligt gällande lagstiftning i de fall en användare utsätter användare för missbruk eller bedrägeri.
            </p>
            <p><strong>Var lagras dina personuppgifter?</strong><br>Personuppgifterna lagras på en server i sverige</p><p>
                <strong>Tillgång till information</strong><br>Du kan visa och ändra din kontoinformation när som helst. Om du önskar, kan du
                ta reda på vilken information om dig vi har på sidan genom att kontakta oss på support@muddra.com.
            </p>
            <p>
                <strong>Kontakt samt granskning och uppdatering av integritetspolicy</strong><br>Hjälmarens Sjötjänst åtar sig att löpande följa gällande krav på data- och integritetsskydd. Kontakta oss gärna på
                hstab@hotmail.com om du har ytterligare frågor eller kommentarer om vår integritetspolicy eller hur vi använder din personliga information.
            </p>
        <div class="pp-container">
            <div class="titlepolicy"><h1>Användarvillkor</h1></div>

            <p>Genom att använda Arenan accepterar du att följa reglerna nedan. Att påstå att du inte känner till dessa regler är inte en giltig ursäkt för någon typ av regelbrott.</p>

            <p>Som medlem ska du agera enligt Hjälmarens Sjötjänst ABs uppförandekod. En medlem är ansvarig för sitt eget beteende och sina handlingar.</p>

            <p>Medlemmar måste följa svensk lag när de använder Hjälmarens Sjötjänst ABs tjänster.</p>

            <p>Pornografi, hot, marknadsföring av droger och eventuella brott mot tredje parts upphovsrätt är förbjudet på Hjälmarens Sjötjänst AB</p>

            <p>Det är inte tillåtet att länka till tredje parts webbplatser som publicerar olagligt innehåll, eller innehåll som strider mot svensk lag eller dessa regler</p>

            <p>Du får inte ladda upp virusinfekterade filer, ladda upp data, programvara eller annat material som skyddas av upphovsrätt eller industriell egendom</p>

            <p>Alla försök till obehörig åtkomst till Hjälmarens Sjötjänst ABs tjänster eller dess programvara kommer att polisanmälas.</p>

            <p>Du är ansvarig för att hålla dina egna inloggningsuppgifter borta från andra människor</p>

            <p>Om vi ​​misstänker att du har registrerat dig med falsk användarinformation förbehåller vi oss rätten att ta bort ditt användarkonto.</p>

            <p>Du får inte använda Hjälmarens Sjötjänst AB-tjänster för dina egna kommersiella syften, såsom för att marknadsföra dina egna eller tredje parts produkter och tjänster.</p>

            <p>Du får inte missbruka Hjälmarens Sjötjänst AB:s tjänster på något annat sätt eller i något syfte. Hjälmarens Sjötjänst AB förbehåller sig rätten att tillfälligt eller permanent stänga av en användare från Arenan på grund av eventuellt missbruk av tjänsten.</p>

            <p><strong>Rättigheter du ger Hjälmarens Sjötjänst AB</strong></p>

            <p>Genom att visa eller publicera något innehåll på Hjälmarens Sjötjänst AB-tjänster ger du Hjälmarens Sjötjänst AB rätt att använda, modifiera, reproducera och distribuera sådant innehåll på Hjälmarens Sjötjänst AB-tjänster i alla medieformat och via alla mediekanaler . Efter att du tagit bort ditt Innehåll från Hjälmarens Sjötjänst AB-tjänster kommer vi att upphöra med all distribution, så snart det är praktiskt möjligt, och vid den tidpunkt då distributionen upphör, kommer licensen att upphöra.</p>

            <p>Hjälmarens Sjötjänst AB förbehåller sig uttryckligen, efter eget gottfinnande, rätten att ta bort din profil och/eller neka dig tillgång till hela eller delar av Hjälmarens Sjötjänst ABs tjänster om vi fastställer att du har brutit mot detta avtal eller utgör ett hot till Hjälmarens Sjötjänst AB eller våra medlemmar.</p>

            <p>Hjälmarens Sjötjänst AB förbehåller sig rätten att, då och då, ändra eller ta bort funktioner från Hjälmarens Sjötjänst ABs användarupplevelse, och Hjälmarens Sjötjänst AB kan då och då vara otillgängligt för underhåll vid vissa tidpunkter.</p>

            <p><strong>Insamling och behandling av personuppgifter</strong></p>

            <p>Hjälmarens Sjötjänst AB är ansvarig för behandlingen av dina personuppgifter i Tjänsten enligt Dataskyddsförordningen (2016/679).</p>

            <p>Hjälmarens Sjötjänst AB ansvarar enligt dataskyddslagen för att samla in, lagra och behandla dina inloggningsuppgifter och annan data.</p>


            <p>Hjälmarens Sjötjänst AB ansvarar för denna tjänst.</p>
        </div>
        </div>
    </div>

