html, body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: $color-bg;
    font-size: $font-size-base;
    color: $color-main;
    font-family: $font-montserrat;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.btn-theme{
    background-color: white;
    padding: 7px 2rem;
    border-radius: 50px;
    display: block;
    width: 200px;
    text-align: center;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 14px;

    @lg  {
        width: auto;
    }
}
