@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400;9..40,500;9..40,600;9..40,700&family=Montserrat:wght@100;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

$font-montserrat: 'Montserrat', sans-serif;
$font-poppins: 'Poppins', sans-serif;


$font-size-base: 1rem;

/*COLORS --------------*/

/* SCSS HEX */
$color-bg: #001021ff;
$color-bg-sec: #034748ff;
$color-main:#1481baff;
$color-sec: #11b5e4ff;
$color-third: #0caadcff;

/* SCSS HSL */
$color-rich-black: hsla(211, 100%, 6%, 1);
$color-midnight-green: hsla(181, 92%, 15%, 1);
$color-blue-ncs: hsla(201, 81%, 40%, 1);
$color-aero: hsla(193, 86%, 48%, 1);
$color-process-cyan: hsla(194, 90%, 45%, 1);

/* SCSS RGB */
$color-rich-black: rgba(0, 16, 33, 1);
$color-midnight-green: rgba(3, 71, 72, 1);
$color-blue-ncs: rgba(20, 129, 186, 1);
$color-aero: rgba(17, 181, 228, 1);
$color-process-cyan: rgba(12, 170, 220, 1);

/* SCSS Gradient */
$color-gradient-top: linear-gradient(0deg, #001021ff, #034748ff, #1481baff, #11b5e4ff, #0caadcff);
$color-gradient-right: linear-gradient(90deg, #001021ff, #034748ff, #1481baff, #11b5e4ff, #0caadcff);
$color-gradient-bottom: linear-gradient(180deg, #001021ff, #034748ff, #1481baff, #11b5e4ff, #0caadcff);
$color-gradient-left: linear-gradient(270deg, #001021ff, #034748ff, #1481baff, #11b5e4ff, #0caadcff);
$color-gradient-top-right: linear-gradient(45deg, #001021ff, #034748ff, #1481baff, #11b5e4ff, #0caadcff);
$color-gradient-bottom-right: linear-gradient(135deg, #001021ff, #034748ff, #1481baff, #11b5e4ff, #0caadcff);
$color-gradient-top-left: linear-gradient(225deg, #001021ff, #034748ff, #1481baff, #11b5e4ff, #0caadcff);
$color-gradient-bottom-left: linear-gradient(315deg, #001021ff, #034748ff, #1481baff, #11b5e4ff, #0caadcff);
$color-gradient-radial: radial-gradient(#001021ff, #034748ff, #1481baff, #11b5e4ff, #0caadcff);
