@model SignInViewModel
<section class="contact-form">
    <div class="container">
        <div class="title mb-3">Please Login to Your Account</div>
        <form id="register-form" class="validate-form" method="POST" novalidate>
            <div asp-validation-summary="ModelOnly" class="error"></div>
            <div class="email form-group mb-3">
                <label asp-for="Email"></label>
                <input pattern="[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" asp-for="Email" id="email">
                <span asp-validation-for="Email" class="error"></span>
                <partial name="/Views/Shared/Components/_FormValidationIndicators.cshtml" />
            </div>
            <div class="password form-group mb-3">
                <label asp-for="Password"></label>
                <input required asp-for="Password" type="password" id="password">
                <span asp-validation-for="Password" class="error"></span>
                <partial name="/Views/Shared/Components/_FormValidationIndicators.cshtml" />
            </div>
            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    Please keep me Signed In
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <button class="btn-theme">Logga In</button>
        </form>
    </div>
</section>